hr {
    border: 1px solid black
}

Nav {
    margin-top: -3em;
        .navbar-nav {
            a {
                margin-right: .6em;
            }
        }
}

.links {
    color: rgb(209, 209, 209);
    padding-bottom: .5em;
        .navLink {
            margin-top: .5em;
            color: rgb(238, 238, 238);
        }
        .navLink:hover {
            text-decoration: none;
        }
}

.links2 {
    text-decoration: none;
    margin-top: .5em;
}